/* @import "tailwindcss/preflight"; */
/* @import "tw-animate-css/preflight.css"; */
/* @tailwind base; */
@import "tailwindcss";

/* @import "tw-animate-css"; */

/* Do NOT apply overflow: hidden to body globally unless needed */
body {
  @apply scroll-smooth ;

}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Component classes */
@layer components {
  .submission-box {
    @apply rounded-[31px] gap-[80px]  text-white bg-[#0A5275] flex items-center justify-center hover:scale-115 transition-transform ease-in-out;
  }

  .icon-box {
    @apply w-[55px] h-[55px] rounded-full flex items-center justify-center hover:scale-110 transition-transform ease-in-out;
  }
.app{
  @apply max-h-screen box-border m-0;
}
  .icon {
    @apply w-6 h-6 text-white;
  }
  .link{
    @apply inline-block hover:scale-115 transition-transform ease-in-out;
  }
  .full-bleed{
    /* @apply w-full h-full absolute  left-0  */
    /* @apply  left-1/2 right-1/2 -ml-[50vw] -mr-[50vw]  right-0; */
  }
  .con-custom{
    @apply  mx-[16px] md:mx-[30px] lg:mx-[56px];
 
  }.tag{
  @apply text-base font-semibold;

}
.tag-head{
 @apply sm:text-5xl text-4xl font-semibold;
}
.tag-sub{
  @apply text-sm font-normal leading-6;
}
}
